input.ng-invalid.ng-touched {
    border-left: 3px solid red;
    
}

input.ng-valid{
    border-left: 3px solid green;
}

.register__background {
    background-image: url('./../../../../assets/phong-nen-hoc-tap-6.jpg');
     width: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}

.register__form {
    margin: 48px 0;
    padding: 50px 50px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
}