<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
                <div class="form-group">
                    <label>Tài khoản:</label>
                    <input type="text" class="form-control" name="taiKhoan" ngModel required #TaiKhoan="ngModel" minlength="7" maxlength="15"> 
                    <div class="alert alert-danger" *ngIf="TaiKhoan.errors && (TaiKhoan.dirty || TaiKhoan.touched)">
                        <!-- Nội dung kiểm tra thẻ rỗng -->
                        <div *ngIf="TaiKhoan.errors.required">Tài khoản không được rỗng</div>
                        <!-- Kiểm tra độ dài ký tự -->
                        <div *ngIf="TaiKhoan.errors.minlength || TaiKhoan.errors.maxlength">Độ dài phải từ 7 đến 15 ký tự</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Mật Khẩu:</label>
                    <input type="text" class="form-control" name="matKhau" ngModel>
                </div>
                <button class="btn btn-success" [disabled]="!loginForm.valid">Login</button>
            </form>
        </div>
    </div>
</div>

