<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">CyberSoft</a>

  <!-- Toggler/collapsibe Button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active"
          >About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-course" routerLinkActive="active"
          >List Course</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
        Danh Mục Khóa Học
        </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" 
        *ngFor="let grand of grandCourse" 
        routerLink="/list-grand-course/{{grand.maDanhMuc}}"
          >{{grand.tenDanhMuc}}</a>
      </div>
      </li>
    </ul>
  </div>
  <!-- Seach -->
  <div class="collapse navbar-collapse " id="collapsibleNavbar">
    <form class="form-inline" action="/action_page.php">
      <input class="form-control mr-sm-2" type="text" placeholder="Điền từ khóa"
      [value]="tuKhoa" #search
      >
      <a class="nav-link btn btn-success"
      routerLink= "/search"
      (click)="searchHome(search.value)">Tìm Kiếm</a>
    </form>
  </div>
  <!-- Đăng nhập, Đăng ký -->
  <div *ngIf="isLogin; else PleaseLogin" class="collapse navbar-collapse " id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/register"
          routerLinkActive="active"
          >Đăng ký</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth" routerLinkActive="active"
          >Đăng Nhập</a>
      </li>
    </ul>
  </div>
  <ng-template #PleaseLogin>
    <div>
      <a class="text-light m-2" style="text-align: center; display: inline;" routerLink="/profile">Xin chào {{authProfile.hoTen}}</a>
      <button class="btn btn-danger" style="display: inline;" (click)="logout()">Logout</button>
    </div>
  </ng-template>
</nav>
